<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<!--шапка-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
                <span class="navbar-brand mb-0 h1"
                      th:text="${user.get().email} + '  with role:  ' + ${user.get().nameRole()}">
                    </span>
        <a class="btn btn-dark" aria-current="page" th:href="@{/logout}">Logout</a>
    </div>
</nav>
<br>
<div class="d-flex align-items-start"><!--Основа страницы-->
    <div class="col-2"><!--Навигация-->
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div><!--Навигация-->
    <div class="col-10"><!--Основа правой части-->
        <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab"><!--Блок инфы о user'е-->
            <div class="container">
                <div class="d-flex align-content-center flex-wrap" style="height: 100px">
                    <h2 class="d-flex align-content-center flex-wrap"><b>User information-page</b></h2>
                </div>
                <table class="table table-striped table-bordered table-hover caption-top">
                    <caption><p class="fw-bold">About user</p></caption>
                    <thead class="table-while">
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.get().getId()}"></td>
                        <td th:text="${user.get().getName()}"></td>
                        <td th:text="${user.get().getLastName()}"></td>
                        <td th:text="${user.get().getEmail()}"></td>
                        <td th:text="${user.get().nameRole()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!--Блок инфы о user'е-->
    </div><!--Основа правой части-->
</div><!--Основа страницы-->


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
</html>